Python3
Flask--Version:0.12
SQLAlchemy--Version:1.1.5
authomatic
wtforms--Version:2.1
Flask-WTF--Version:0.14.2
Werkzeug-- Version:0.11.12
itsdangerous-- Version:0.24
smtplib
requests--Version:2.9.1
newspaper
readability--Version:0.2
Jinja2==2.8
MarkupSafe==0.23









